{
    "modules"  : [ "bl" ],
    "exclude_modules"  : [ "hwmon" ],
    "tools"    : [ "rt-app" ],
    "ftrace" : {
        "events" : [
            "sched_overutilized",
            "sched_energy_diff",
            "sched_load_avg_task",
            "sched_load_avg_cpu",
            "sched_migrate_task",
            "sched_switch",
            "cpu_idle",
        ],
    },
    "wloads" : {
        "two-eightypercent" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "periodic",
                "params" : {
                    "duty_cycle_pct": 80,
                    "duration_s": 5,
                    "period_ms": 10,
                },
                "tasks" : 2,
                "prefix" : "many",
            },
        },
        "one-eightypercent" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "periodic",
                "params" : {
                    "duty_cycle_pct": 80,
                    "duration_s": 5,
                    "period_ms": 10,
                },
                "tasks" : 1,
                "prefix" : "many",
            },
        },
        "three-twentypercent" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "periodic",
                "params" : {
                    "duty_cycle_pct": 20,
                    "duration_s": 5,
                    "period_ms": 10,
                },
                "tasks" : 3,
                "prefix" : "many",
            },
        },
        "six-fivepercent" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "periodic",
                "params" : {
                    "duty_cycle_pct": 5,
                    "duration_s": 5,
                    "period_ms": 10,
                },
                "tasks" : 6,
                "prefix" : "many",
            },
        },
    },
    "iterations": 3,
    "confs" : [
        {
            "tag" : "",
            "flags" : "ftrace",
            "sched_features" : "ENERGY_AWARE",
            "cpufreq" : {
                "governor" : "interactive"
            },
        }
    ]
}
